# 출력하기
> print()
- 파이썬은 인터프리터 언어
- 입력 순서대로 실행됨

In [2]:
# 주석문
print('파이썬')  # print(): 사용자에게 메시지를 전달하는 함수

파이썬

- 계산 메모리: CPU
- 저장 메모리: RAM

In [3]:
a = 3   # ram 메모리 주소에 저장되어 있음
b = 4   # ram 메모리 주소에 저장되어 있음
a + b   # cpu가 ram 메모리 주소의 a와 b를 가져다가 출력함 (ram의 a와 b의 값은 변하지 않음)

7

In [8]:
a = '파이썬'
b = 3.8

print(a + b)  # 숫자와 문자는 연산 불가능

TypeError: can only concatenate str (not "float") to str

In [11]:
print(a + str(b))  # 숫자를 문자형으로 바꿔주면 연산이 가능

파이썬3.8

### 산술 연산

In [13]:
a = 3
b = '4'

print(a + b)  # int와 str인 불가

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
print(a + int(b))  # int형으로서 연산

7

In [17]:
print(a + float(b))  # float형으로서 연산 -> 자동으로 float 연산

7.0

# for문

In [21]:
for i in range(10):
    print(i)
print(i+1)  # 들여쓰기 주의하기

0
1
2
3
4
5
6
7
8
9
10

# 연산자

In [24]:
a = 1
b = 3.3
print(a + b)
print(type(a + b))

4.3
<class 'float'>

In [26]:
10 % 3  # 나머지 출력

1

In [27]:
10 // 3 # 몫 출력

3

In [29]:
10 * 20%  # 퍼센트 사용 불가

SyntaxError: invalid syntax (<ipython-input-29-560c3cdc49ef>, line 1)

In [35]:
print(int(10 * 0.21))

2

In [38]:
print(int(10 + 0.9))  # 소수점 뒷자리 제거

10

In [40]:
3 + 2.   # 실수형으로 출력

5.0

In [44]:
round(2.3)  # 반올림 - 내림

2

In [45]:
round(2.6)  # 반올림 - 올림

3

# 숫자형: 정수형, 실수형
- time.time()으로 실행 시간 측정하기

In [61]:
## import time

# 정수형
start = time.time() 
print(3 + 2)
end = time.time() - start
print(end)

# 실수형
start = time.time() 
print(3 + 2.)
end = time.time() - start
print(end)

# 둘다 실수형
start = time.time() 
print(3. + 2.)
end = time.time() - start
print(end)

5
0.00010800361633300781
5.0
0.00015544891357421875
5.0
0.00011014938354492188

In [62]:
a = 123
b = 1.23

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

# 다양한 변수 + 문자열 출력 방법

In [73]:
print('정수 = ', a, '실수 = ', 'b')
print('정수 = %d, 실수 = %f'%(a, b))  # d는 정수, f는 실수
print('정수 = %d, 실수 = %.4f'%(a, b))  # 소수점 네자리까지 출력
print('정수 = {}, 실수 = {}'.format(a, b))
print(f'정수 = {a}, 실수 = {b}')

정수 =  123 실수 =  b
정수 = 123, 실수 = 1.230000
정수 = 123, 실수 = 1.2300
정수 = 123, 실수 = 1.23
정수 = 123, 실수 = 1.23

In [79]:
a = 123
b = 1.23
c = '123'

print('정수: %d, 실수: %f, 문자열: %s'%(a, a, a))
print('정수: %d, 실수: %f, 문자열: %s'%(b, b, b))
# print('정수: %d, 실수: %f, 문자열: %s'%(c, c, c))  # 문자열을 정수나 실수로 바꾸어 출력할 수는 없음
print('정수: %d, 실수: %f, 문자열: %s'%(a, b, c))

정수: 123, 실수: 123.000000, 문자열: 123
정수: 1, 실수: 1.230000, 문자열: 1.23
정수: 123, 실수: 1.230000, 문자열: 123

In [84]:
a = '1'
b = "2"
c = '"3"'
d = "'4'"

print(a+b+c+d)
print('a+b')  # 수식이 아닌 문자열로 인식
print(type('a+b'))

12"3"'4'
a+b
<class 'str'>

In [88]:
VarPos1='python'
VarPos2='very'
VarPos3='power'

print(VarPos1+VarPos2+VarPos3)
print(VarPos1+' '+VarPos2+' '+VarPos3)

s = ' '
print(VarPos1+s+VarPos2+s+VarPos3)

pythonverypower
python very power
python very power

In [89]:
tmp = VarPos1+s+VarPos2+s+VarPos3+'ful'
print(tmp)

python very powerful

In [91]:
len(tmp)  # 스페이스를 포함한 데이터의 길이

20

In [93]:
print(tmp[0])

p

In [96]:
for s in tmp:
    print(s, end=' ')

p y t h o n   v e r y   p o w e r f u l

In [97]:
print(tmp[:6])

python

In [107]:
print(tmp[-1:-9:-1])  # 끝에 -1을 붙여주면 역으로 출력

lufrewop

In [116]:
print(tmp[::1])   # 1칸씩 출력
print(tmp[::2])   # 2칸씩 출력

python very powerful
pto eypwru

In [117]:
print(tmp[:len(tmp)])

python very powerful

In [119]:
len(tmp)

20

In [120]:
print(tmp[:20])

python very powerful

# for문 실습

In [126]:
var = '★'
tmp2 = ''
cnt = 50

for i in range(cnt):
    tmp2 = tmp2 + var + ' '

print(tmp2)

★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★

In [144]:
var = '★'
tmp2 = ''
cnt = 50

for i in range(cnt):
    if i != 49:
        tmp2 = tmp2 + var + ' '
    else:
        tmp2 = tmp2 + var

print(tmp2)

★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★ ★

In [145]:
cnt = 10

for i in range(cnt):
    if i != 9:
        print('with space')
    else:
        print('without space')

with space
with space
with space
with space
with space
with space
with space
with space
with space
without space

In [133]:
tmp.index('p')  # 첫번째 p 위치

0

In [134]:
tmp.index('p',1)  # 두번째 p 위치

12

In [138]:
tmp.index('p',2)  # 세번째 p 위치 (두번째와 동일하다는 것은 p만 존재한다는 것)

12

# 리스트 구조
- 변수명 = [요소, 요소, ...]
- 복합 데이터 유형으로 다양한 자료형의 데이터가 들어갈 수 있음

In [148]:
lst = []
lst2 = list()

print(type(lst))
print(type(lst2))

<class 'list'>
<class 'list'>

In [183]:
lst1 = [10, 20, '파이썬', '한경닫컴', [100, 200, 300]]
lst2 = [150, 250, 300]

print(type(lst1))
print(len(lst1))
print(type(lst2))
print(len(lst2))

<class 'list'>
5
<class 'list'>
3

In [159]:
print(lst1)   # 대괄호는 리스트 데이터

[10, 20, '파이썬', '한경닫컴', [100, 200, 300]]

In [157]:
print(lst1[0])
print(lst1[-1])

10
[100, 200, 300]

In [174]:
print(lst1[0])
print(lst1[2])
print(lst1[2:4])
print(lst1[-1])
print(lst1[3:5])
print(lst1[4][:2])
print(lst1[-1][-1])
print(lst1[3][:2])

10
파이썬
['파이썬', '한경닫컴']
[100, 200, 300]
['한경닫컴', [100, 200, 300]]
[100, 200]
300
한경

# 요소값 편집

In [186]:
print(lst1)

[10, 20, '파이썬', '한경닫컴', [100, 200, 300]]

In [187]:
lst1[-1][-1] = 400
print(lst1)

[10, 20, '파이썬', '한경닫컴', [100, 200, 400]]

In [188]:
lst1[1] = 30
print(lst1)

[10, 30, '파이썬', '한경닫컴', [100, 200, 400]]

- 문자열의 일부만 리스트의 요소처럼 변경하는 것은 불가능함

In [195]:
lst1[3][2] = '닷'
lst1

TypeError: 'str' object does not support item assignment

In [198]:
lst1[3] = '한경닷컴'
lst1

[10, 30, '파이썬', '한경닷컴', [100, 200, 400]]

In [206]:
tmp = '한경닫컴'
print(tmp.replace('닫', '닷'))

tmp = tmp.replace('닫', '닷')
print(tmp)

한경닷컴
한경닷컴

In [209]:
print(lst1)
print(lst2)
print(lst1 + lst2)

print(lst1)
print(lst2)

[10, 30, '파이썬', '한경닷컴', [100, 200, 400]]
[150, 250, 300]
[10, 30, '파이썬', '한경닷컴', [100, 200, 400], 150, 250, 300]
[10, 30, '파이썬', '한경닷컴', [100, 200, 400]]
[150, 250, 300]

In [211]:
lst1.index(200)

ValueError: 200 is not in list

In [214]:
print(200 in lst1)

False

In [217]:
print('150' in lst2)   # a in b:  a값이 b에 있으며 True, 없으면 False
print(150 in lst2)
print(int('150') in lst2)

False
True
True

In [219]:
lst1.append('박도준')

In [220]:
lst1

[10, 30, '파이썬', '한경닷컴', [100, 200, 400], '박도준']

In [221]:
lst1.insert(3, 150)
lst1

[10, 30, '파이썬', 150, '한경닷컴', [100, 200, 400], '박도준']

In [222]:
lst1.append([11, 22, 33])
lst1

[10, 30, '파이썬', 150, '한경닷컴', [100, 200, 400], '박도준', [11, 22, 33]]

In [223]:
tmp = [11, 22, 33]
for t in tmp:
    lst1.append(t)
print(lst1)

[10, 30, '파이썬', 150, '한경닷컴', [100, 200, 400], '박도준', [11, 22, 33], 11, 22, 33]

In [229]:
lst2 = [150, 250, 300]
lst2

[150, 250, 300]

In [230]:
del lst2    # 저장 메모리에서 해당 변수(객체)를 삭제
print(lst2)

NameError: name 'lst2' is not defined

In [231]:
print(lst1)
lst1.pop(3)

print(lst1)

[10, 30, '파이썬', 150, '한경닷컴', [100, 200, 400], '박도준', [11, 22, 33], 11, 22, 33]
[10, 30, '파이썬', '한경닷컴', [100, 200, 400], '박도준', [11, 22, 33], 11, 22, 33]

In [232]:
lst1.remove(30)
lst1

[10, '파이썬', '한경닷컴', [100, 200, 400], '박도준', [11, 22, 33], 11, 22, 33]

In [234]:
lst1.append(11)
lst1

[10, '파이썬', '한경닷컴', [100, 200, 400], '박도준', [11, 22, 33], 11, 22, 33, 11, 11]

In [235]:
lst1.remove(11)   # 첫번째 요소만 찾아서 삭제
lst1

[10, '파이썬', '한경닷컴', [100, 200, 400], '박도준', [11, 22, 33], 22, 33, 11, 11]

In [236]:
lst1[3].remove(200)
lst1

[10, '파이썬', '한경닷컴', [100, 400], '박도준', [11, 22, 33], 22, 33, 11, 11]

In [237]:
del lst1[3]    # lst1.pop(3)과 동일
lst1

[10, '파이썬', '한경닷컴', '박도준', [11, 22, 33], 22, 33, 11, 11]

# 리스트 정렬

In [238]:
lst1 = [1, 3, 10, 5, 7, 6]
lst1

[1, 3, 10, 5, 7, 6]

In [239]:
lst1.reverse()   # 리스트의 요소를 거꾸로 뒤집음
lst1

[6, 7, 5, 10, 3, 1]

In [240]:
lst1.sort()   # 리스트 데이터를 오름차순 정렬
lst1

[1, 3, 5, 6, 7, 10]

In [241]:
lst1.sort(reverse=True)   # 리스트 내림차순 정렬
lst1

[10, 7, 6, 5, 3, 1]

# 리스트 데이터 추가 및 출력

In [251]:
favoriteFoods = []

In [257]:
for i in range(10):
    food = input('좋아하는 음식? :')  # 사용자로부터 데이터를 입력받을 때 사용하는 함수 (입력 데이터는 모두 문자형 데이터)
    favoriteFoods.append(food)

print(favoriteFoods)

좋아하는 음식? :1
좋아하는 음식? :2
좋아하는 음식? :3
좋아하는 음식? :4
좋아하는 음식? :5
좋아하는 음식? :6
좋아하는 음식? :
좋아하는 음식? :8
좋아하는 음식? :9
좋아하는 음식? :10
['치킨', '짜장면', '콜라', '떡볶이', '스시', '회', '쌀국수', '보쌈', '칼국수', '국밥', '1', '2', '3', '4', '5', '6', '', '8', '9', '10']

In [264]:
len(favoriteFoods)

15

In [274]:
favoriteFoods

['치킨', '짜장면', '콜라', '떡볶이', '스시', '회', '쌀국수', '보쌈', '칼국수', '국밥']

In [272]:
favoriteFoods.pop(10)

'10'

In [273]:
favoriteFoods

['치킨', '짜장면', '콜라', '떡볶이', '스시', '회', '쌀국수', '보쌈', '칼국수', '국밥']

In [276]:
foods = []

for i in range(10):
    food = input('좋아하는 동물은? ')
    foods.append(food)

foods

좋아하는 동물은? 강아지
좋아하는 동물은? 고양이
좋아하는 동물은? 호랑이
좋아하는 동물은? 곰
좋아하는 동물은? 늑대
좋아하는 동물은? 사자
좋아하는 동물은? 백조
좋아하는 동물은? 거북이
좋아하는 동물은? 참새
좋아하는 동물은? 붕어

['강아지', '고양이', '호랑이', '곰', '늑대', '사자', '백조', '거북이', '참새', '붕어']

In [280]:
# 좋아하는 동물의 종류와 크기를 입력받아서 나열하기

animals = list()
for i in range(3):
    a = input('좋아하는 동물은?')
    b = input('동물의 크기는?')
    animals.append([a, b])

animals

좋아하는 동물은?강아지
동물의 크기는?5
좋아하는 동물은?고양이
동물의 크기는?3
좋아하는 동물은?거북이
동물의 크기는?1

[['강아지', '5'], ['고양이', '3'], ['거북이', '1']]

In [283]:
animals[0][1]

'5'

In [295]:
tmp = []

for i in range(3):
    a = input('좋아하는 동물은?')
    b = input('동물의 크기는?')
    tmp.append((a, b))

animals = {k: int(v) for k, v in tmp}

print(tmp)
print(animals)

좋아하는 동물은?강아지
동물의 크기는?5
좋아하는 동물은?고양이
동물의 크기는?3
좋아하는 동물은?거북이
동물의 크기는?1
[('강아지', '5'), ('고양이', '3'), ('거북이', '1')]
{'강아지': 5, '고양이': 3, '거북이': 1}

In [297]:
display(tmp)
print(tmp)

[('강아지', '5'), ('고양이', '3'), ('거북이', '1')]

[('강아지', '5'), ('고양이', '3'), ('거북이', '1')]

# 딕셔너리

In [301]:
dic2 = {'이름' : ['홍길동', '이순신', '박도준'],
        '나이' : [33, 55, 48],
        '성별' : ['남', '여', '남']}

In [302]:
dic2

{'이름': ['홍길동', '이순신', '박도준'], '나이': [33, 55, 48], '성별': ['남', '여', '남']}

In [303]:
print(dic2.keys())
print(dic2.values())

dict_keys(['이름', '나이', '성별'])
dict_values([['홍길동', '이순신', '박도준'], [33, 55, 48], ['남', '여', '남']])

In [311]:
# 좋아하는 동물의 종류와 크기를 입력받아서 나열하기

animals = []
size = []
for i in range(3):
    a = input('좋아하는 동물은?')
    b = input('동물의 크기는?')
    animals.append(a)
    size.append(b)

print(animals)
print(size)

# 딕셔너리 구조로 변경하기
dic1 = {'동물명': animals, '크기': size}
print(dic1)

좋아하는 동물은?강아지
동물의 크기는?5
좋아하는 동물은?고양이
동물의 크기는?3
좋아하는 동물은?거북이
동물의 크기는?1
['강아지', '고양이', '거북이']
['5', '3', '1']
{'동물명': ['강아지', '고양이', '거북이'], '크기': ['5', '3', '1']}

In [312]:
print(dic1.keys())
print(dic1.values())

dict_keys(['동물명', '크기'])
dict_values([['강아지', '고양이', '거북이'], ['5', '3', '1']])

In [313]:
print(dic1['동물명'])
print(dic1['크기'])

['강아지', '고양이', '거북이']
['5', '3', '1']

In [310]:
print(dic1.keys())
print(dic1.values())

dict_keys(['강아지', '고양이', '거북이'])
dict_values(['5', '3', '1'])

In [327]:
print(dic1)
print(dic1['동물명'])
print(len(dic1['동물명']))

{'동물명': ['강아지', '고양이', '거북이'], '크기': ['5', '3', '1']}
['강아지', '고양이', '거북이']
3

In [328]:
for i in range(len(dic1['동물명'])):
    print(dic1['동물명'][i])
    print(dic1['크기'][i])

강아지
5
고양이
3
거북이
1

In [332]:
num = 0

for i in range(3):
    print('동물명 %s, 크기 %skg'%(dic1['동물명'][num], dic1['크기'][num]))
    num += 1
    
print('END')

동물명 강아지, 크기 5kg
동물명 고양이, 크기 3kg
동물명 거북이, 크기 1kg
END

In [334]:
num = 0

for i in range(3):
    print(f"동물명 {dic1['동물명'][num]}, 크기 {dic1['크기'][num]}")
    num += 1
    
print('END')

동물명 강아지, 크기 5
동물명 고양이, 크기 3
동물명 거북이, 크기 1
END

# pandas

In [338]:
# 모듈 연결

import pandas as pd

In [339]:
# dictionary to dataframe
df1 = pd.DataFrame(dic1)
df1

   동물명 크기
0  강아지  5
1  고양이  3
2  거북이  1

In [346]:
print(df1['동물명'], end='\n\n')
print(df1.iloc[0])

0    강아지
1    고양이
2    거북이
Name: 동물명, dtype: object

동물명    강아지
크기       5
Name: 0, dtype: object

In [347]:
animals = []
for i in range(3):
    a = input('좋아하는 동물?')
    b = input('크기?')
    animals.append([a, b])
    
print(animals)

좋아하는 동물?강아지
크기?5
좋아하는 동물?고양이
크기?3
좋아하는 동물?거북이
크기?1
[['강아지', '5'], ['고양이', '3'], ['거북이', '1']]

In [349]:
# list to dataframe

df2 = pd.DataFrame(animals, columns=['동물명', '크기'])
df2

   동물명 크기
0  강아지  5
1  고양이  3
2  거북이  1

In [367]:
# save dataframe as csv

df2.to_csv('favorite_animals1.csv', index=False, encoding='euc-kr')
df2.to_csv('favorite_animals2.csv', index=False, encoding='utf-8')  # 엑셀에서 열때 한글이 깨짐

In [368]:
df3 = pd.read_csv('favorite_animals1.csv', encoding='euc-kr')
df3

   동물명  크기
0  강아지   5
1  고양이   3
2  거북이   1

In [369]:
df4 = pd.read_csv('favorite_animals2.csv', encoding='utf-8')  # 실제 파이썬에서 열때는 깨지지 않음
df4

   동물명  크기
0  강아지   5
1  고양이   3
2  거북이   1