# 서울시 지하철 호선별 역별 시간대별 승하차 인원 정보
- OpenAPI 연결
- 2019년 01월 ~ 2020년 12월
- pd.DataFrame 형식으로 저장
- 년, 월 분리하여 저장

In [7]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [1]:
pwd

'/mnt/c/edu'

In [52]:
years = range(2019, 2021)
months = range(1, 13)

In [53]:
ls_date = []
for y in years:
    for m in months:
        if m < 10:
            ls_date.append(str(y) + '0' + str(m))
        else:
            ls_date.append(str(y) + str(m))
print(ls_date)

['201901', '201902', '201903', '201904', '201905', '201906', '201907', '201908', '201909', '201910', '201911', '201912', '202001', '202002', '202003', '202004', '202005', '202006', '202007', '202008', '202009', '202010', '202011', '202012']

In [78]:
def get_count(date):
    
    import pandas as pd
    import requests
    from bs4 import BeautifulSoup as bs
    
    fdir = '/mnt/c/edu/py_data/openapi/'

    with open(fdir + 'subway_time_key.txt') as f:
        key = f.read()
        
    url1 = 'http://openapi.seoul.go.kr:8088/'
    url2 = '/xml/CardSubwayTime/1/1000/' + date + '/'
    url = url1 + key + url2
    
    xml = requests.get(url)
    soup = bs(xml.content, 'html.parser')
    ls_data = soup.find_all('row')
    
    info = []
    for data in ls_data:
        line = data.find('line_num').text
        sta = data.find('sub_sta_nm').text
        four_on = data.find('four_ride_num').text
        four_off = data.find('four_alight_num').text
        five_on = data.find('five_ride_num').text
        five_off = data.find('five_alight_num').text
        six_on = data.find('six_ride_num').text
        six_off = data.find('six_alight_num').text
        seven_on = data.find('seven_ride_num').text
        seven_off = data.find('seven_alight_num').text
        eight_on = data.find('eight_ride_num').text
        eight_off = data.find('eight_alight_num').text
        nine_on = data.find('nine_ride_num').text
        nine_off = data.find('nine_alight_num').text
        ten_on = data.find('ten_ride_num').text
        ten_off = data.find('ten_alight_num').text
        eleven_on = data.find('eleven_ride_num').text
        eleven_off = data.find('eleven_alight_num').text
        twelve_on = data.find('twelve_ride_num').text
        twelve_off = data.find('twelve_alight_num').text
        thirteen_on = data.find('thirteen_ride_num').text
        thirteen_off = data.find('thirteen_alight_num').text
        fourteen_on = data.find('fourteen_ride_num').text
        fourteen_off = data.find('fourteen_alight_num').text
        fifteen_on = data.find('fifteen_ride_num').text
        fifteen_off = data.find('fifteen_alight_num').text
        sixteen_on = data.find('sixteen_ride_num').text
        sixteen_off = data.find('sixteen_alight_num').text
        seventeen_on = data.find('seventeen_ride_num').text
        seventeen_off = data.find('seventeen_alight_num').text
        eighteen_on = data.find('eighteen_ride_num').text
        eighteen_off = data.find('eighteen_alight_num').text
        nineteen_on = data.find('nineteen_ride_num').text
        nineteen_off = data.find('nineteen_alight_num').text
        twenty_on = data.find('twenty_ride_num').text
        twenty_off = data.find('twenty_alight_num').text
        twenty_one_on = data.find('twenty_one_ride_num').text
        twenty_one_off = data.find('twenty_one_alight_num').text
        twenty_two_on = data.find('twenty_two_ride_num').text
        twenty_two_off = data.find('twenty_two_alight_num').text
        twenty_three_on = data.find('twenty_three_ride_num').text
        twenty_three_off = data.find('twenty_three_alight_num').text
        midnight_on = data.find('midnight_ride_num').text
        midnight_off = data.find('midnight_alight_num').text
        one_on = data.find('one_ride_num').text
        one_off = data.find('one_alight_num').text
        two_on = data.find('two_ride_num').text
        two_off = data.find('two_alight_num').text
        three_on = data.find('three_ride_num').text
        three_off = data.find('three_alight_num').text
        info.append([line, sta, four_on, four_off, five_on, five_off, six_on, six_off, seven_on, seven_off, eight_on, 
                     eight_off, nine_on, nine_off, ten_on, ten_off, eleven_on, eleven_off, twelve_on, twelve_off, 
                     thirteen_on, thirteen_off, fourteen_on, fourteen_off, fifteen_on, fifteen_off, sixteen_on, 
                     sixteen_off, seventeen_on, seventeen_off, eighteen_on, eighteen_off, nineteen_on, nineteen_off, twenty_on, twenty_off, 
                     twenty_one_on, twenty_one_off, twenty_two_on, twenty_two_off, twenty_three_on, twenty_three_off, 
                     midnight_on, midnight_off, one_on, one_off, two_on, two_off, three_on, three_off])

    df_info = pd.DataFrame(info, columns=['호선명', '역명', '4시승차', '4시하차', '5시승차', '5시하차', '6시승차', '6시하차', 
                                         '7시승차', '7시하차', '8시승차', '8시하차', '9시승차', '9시하차', '10시승차', '10시하차', 
                                         '11시승차', '11시하차', '12시승차', '12시하차', '13시승차', '13시하차', 
                                         '14시승차', '14시하차', '15시승차', '15시하차', '16시승차', '16시하차', 
                                         '17시승차', '17시하차', '18시승차', '18시하차', '19시승차', '19시하차', 
                                         '20시승차', '20시하차', '21시승차', '21시하차', '22시승차', '22시하차', 
                                         '23시승차', '23시하차', '0시승차', '0시하차', '1시승차', '1시하차', 
                                         '2시승차', '2시하차', '3시승차', '3시하차'])
    return df_info

In [79]:
pwd

'/mnt/c/edu'

In [83]:
for date in ls_date:
    df = get_count(date)
    if '2019' in date:
        fdir = '/mnt/c/edu/py_data/openapi/2019/'
    else:
        fdir = '/mnt/c/edu/py_data/openapi/2020/'
    df.to_csv(fdir + date + '.csv', index=False, encoding='euc-kr')

In [85]:
df.info

<bound method DataFrame.info of      호선명   역명 4시승차 4시하차  5시승차  5시하차  6시승차   6시하차   7시승차   7시하차  ... 23시승차  \
0    3호선  충무로    0    0     0     0     0      0      0      0  ...     0
1    1호선  서울역  581   11  8010  5042  9302  25859  27028  67086  ...  5312
2    1호선  동묘앞  102    2  2777   773  3002   3546   4659   6246  ...   525
3    1호선   시청   24    0  1636  3392  2466  16596   5216  47974  ...  2126
4    1호선   종각  103    1  2003  3585  2704  19378   4553  76367  ...  2502
..   ...  ...  ...  ...   ...   ...   ...    ...    ...    ...  ...   ...
598  중앙선   오빈    0    0    99     1   356    230    690    180  ...     1
599  중앙선   양평   10    0   900    29  2116   1262   4918   1943  ...    84
600  중앙선   원덕   12    0   276     2   305     58    483    187  ...     1
601  중앙선   용문  215    1   553    10  1347    254   2058   1023  ...     0
602  중앙선   지평    0    0     0     0     0      0    225     30  ...     0

    23시하차 0시승차 0시하차 1시승차 1시하차 2시승차 2시하차 3시승차 3시하차
0       0    0    0    0    0    0    0    0    0
1    3737   15  326    4    4    0    1    0    0
2    1364    1  539    0    0    0    0    0    0
3     649    3   31    0    0    0    0    0    0
4     777    8   82    0    0    0    0    0    0
..    ...  ...  ...  ...  ...  ...  ...  ...  ...
598    65    0    9    0    0    0    0    0    0
599  1093   14  179    0    0    0    0    0    0
600    93    3   46    0    0    0    0    0    0
601   640    0  130    0    0    0    0    0    0
602     0    0    0    0    0    0    0    0    0

[603 rows x 50 columns]>

# 코로나 현황 OpenAPI

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

In [2]:
pwd

'/mnt/c/edu'

In [6]:
def concat_url(num, s_date, e_date):
    with open('./py_data/openapi/corona_key.txt') as f:
        key = f.read()
    
    url1 = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey=' + key
    url2 = '&pageNo=1&numOfRows=' + str(num)
    url3 = '&startCreateDt=' + str(s_date) + '&endCreateDt=' + str(e_date)
    url = url1 + url2 + url3
    
    return url

In [14]:
print(concat_url(10, 20201001,20201031))

http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey=zrwN1EZPDresnEODmQCFdkJiD52oniVUvH4XlfJ%2FwVs3dJVo%2F%2FaoSabrmXOXFNz6VDcI2dQHcIvMMlxPJMPMyQ%3D%3D&pageNo=1&numOfRows=10&startCreateDt=20201001&endCreateDt=20201031

In [ ]:
accDefRate
accExamCnt
accExamCompCnt
careCnt
clearCnt
createDt
deathCnt
decideCnt
examCnt
resutlNegCnt
seq
stateDt
stateTime
updateDt

In [19]:
xml = requests.get(concat_url(100, 20201001,20201031))
soup = bs(xml.content, 'html.parser')
ls_data = soup.find_all('item')

info = []
for data in ls_data:
    
    
    for 
    try:
        date = data.find('stateDt').text
        decide = data.find('decideCnt').text
        death = data.find('deathCnt').text
        clear = data.find('clearCnt').text
        exam = data.find('examCnt').text
    except:
        pass
    
    info.append(date, exam, decide, death, clear)
    
    print(info)
    break

NameError: name 'date' is not defined